@charset "utf-8";
/*reset,每个网站都有自己的衣服，不能复制reset，用不到的一定要删掉*/	
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
body{margin-bottom: 30px;}
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/*渐变*/
.gradient{
background:-moz-linear-gradient(top, #FFFFFF, #f8f8f8);
background:-webkit-linear-gradient(top, #FFFFFF, #f8f8f8);
background:-ms-linear-gradient(top, #FFFFFF, #f8f8f8);
background:linear-gradient(top, #FFFFFF, #f8f8f8);
-ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#FFFFFF, endColorstr=#f8f8f8)";
+background:#f9f9f9;
}
/*圆角*/

/*reset end*/	
/*public，公共样式*/
.fl{float: left;}
.fr{float: right;}
.clear{zoom:1;}
.clear:after{content:'';display: block;clear: both;}
#header,#nav,.content, #footer{margin:0 auto;width: 960px;}
.section,.side_section,#search,.ad_border,#footer,.login{border:1px solid #dbdbdb;border-radius: 6px;}
.main_ad, .side_section, .side_ad, .ad_border{margin-bottom: 10px;}
.triangle_up,.triangle_down_red,.triangle_down_gray{
	width: 0;height: 0;overflow: hidden;border-left:4px solid transparent;border-right:4px solid transparent;position: absolute;_border-left:4px solid transparent;_border-right:4px solid #fff;
}
.triangle_up{border-bottom: 4px solid #ca0309;}
.triangle_down_red{border-top: 4px solid #ca0309;}
.triangle_down_gray{border-top: 4px solid #c4bdbd;}




/*public结束*/
/*layout,模块化布局*/
#header{height: 30px;border-radius: 0 0 6px 6px;}
#nav{height: 100px;position: relative;}
#search{width: 958px;margin:0 auto 10px;height:114px;background-color:blue;position: relative;}
.main{width: 710px;}
.main_wrap{padding-bottom: 10px;}
.section{width: 318px;padding: 0 15px;/*height: 300px;*/}
.options{width: 350px;/*height: 340px;*/position: relative;}
.main_ad{border-radius: 6px;overflow: hidden;}
.side{width: 240px;}
.side_section{/*height: 60px;*/padding: 0 12px;}
.side_ad{border-radius: 6px;overflow: hidden;}
.ad_border{width: 238px;height: 88px;overflow: hidden;}
#footer{width: 958px;height: 78px;background-color: #f9f9f9;}
/*layout结束*/
/*有一些低版本的浏览器，CSS3让用户看到颜色块即可，不影响内容就行，效果不必理会，这叫降级*/
.options .nav{height: 34px;position: relative;z-index: 2}
.options .nav li{width: 172px;height: 33px;border:1px solid #dbdbdb;
	border-radius:6px 6px 0 0;border-bottom: none;line-height: 33px;text-align: center;
	position: relative;cursor: pointer;}
.options .nav li.active{width: 172px;height: 34px;background: #fff;line-height: 34px;}
.options .con{width: 318px;border:1px solid #dbdbdb;
	/*height: 50px;*/border-radius: 0 0 6px 6px;padding: 0 15px;
position: absolute;top:34px;left: 0;z-index:1}

/*细节*/
#header .city{padding:5px 20px;}
#header .city a{border-radius: 4px;box-shadow:1px 1px 0 #ededed ;background: #fff;
	border: 1px solid #e5e5e5;height: 18px;display: inline-block;padding: 0 7px;color:#999; }
#header .city .active,#header .city .active:hover{color: #d60d03;background:#fff;}
#header .city a:hover{background: #f1f1f1;}
#header .link{line-height: 30px;padding-right: 20px;word-spacing: 4px;color: #666;}
#header .link a{color: #666;background: url(../img/header_link_bg.gif) no-repeat;padding-left: 20px;}
#header .link a:hover{text-decoration: underline;}
#header .link .ico1{background-position: 0 3px;}
#header .link .ico2{background-position: 0 -27px;}


#nav ul{position: absolute;top: 10px;}
#nav li{float: left;}
#nav li a{width: 66px;padding-top: 50px;text-align: center;color:#333;display: block;background: url(../img/nav_bg.png) no-repeat;}
#nav li a:hover{font-weight: bold;color: #a70c01;}
#nav .bg1 { background-position:0 0; }
#nav .bg2 { background-position:-66px 0; }
#nav .bg3 { background-position:-132px 0; }
#nav .bg4 { background-position:-198px 0; }
#nav .bg5 { background-position:-264px 0; }
#nav .bg6 { background-position:-330px 0; }
#nav .bg7 { background-position:-396px 0; }
#nav .bg8 { background-position:-462px 0; }
#nav .bg9 { background-position:-528px 0; }
#nav .bg10 { background-position:-594px 0; }
#nav .bg1:hover { background-position:0 -70px; }
#nav .bg2:hover { background-position:-66px -70px; }
#nav .bg3:hover { background-position:-132px -70px; }
#nav .bg4:hover { background-position:-198px -70px; }
#nav .bg5:hover { background-position:-264px -70px; }
#nav .bg6:hover { background-position:-330px -70px; }
#nav .bg7:hover { background-position:-396px -70px; }
#nav .bg8:hover { background-position:-462px -70px; }
#nav .bg9:hover { background-position:-528px -70px; }
#nav .bg10:hover { background-position:-594px -70px; }
#nav .nav_1{left: 11px;}
#nav .nav_2{right: 11px;}
#nav h1{width: 223px;height: 62px;margin: 0 auto;position: relative;top: 10px;}

#search .bar{height: 64px;border: 1px solid #c40d0e;width: 958px;position: absolute;top: 16px;left: -1px;border-radius:5px;background-color: #e21c01;box-shadow: 2px 3px 2px #e3e3e3;}
#search .menu{position: absolute;left: 226px;top: -27px;}
#search .menu li{float: left;margin-right: 1px;box-shadow: 1px 0 2px rgba(176,176,176,.15);
	display: inline-block;text-align: center;font-size: 14px;line-height: 25px;
	width: 78px;height: 25px;border: 1px solid #f8d0bf;border-bottom: none;border-radius: 5px 5px 0 0;cursor: pointer;}
#search .menu .active{height: 27px;background:#e21c01;color: #fff;font-weight: bold;position: relative;top: -1px;border: 1px solid #e21c01;text-shadow:2px 2px 3px rgba(0,0,0,.25) }
#search .img{position:absolute;left: 32px;top: -3px;z-index: 2;width: 163px;height: 222px;background:url(../img/search_img.png) no-repeat;}
#search .form{position: absolute;top: 36px;left: 226px;z-index: 3;}
#search .form .text { width:380px; height:22px; line-height:22px; padding:0 12px; border:none; background:#fff1ef; border-radius:3px; float:left; margin-right:10px; font-size:12px; font-family:'微软雅黑'; color:#ea7a7a; box-shadow:inset 2px 2px 3px rgba(0,0,0,0.25);  }
#search .form .btn{background:url(../img/search_img.png) no-repeat -163px 0;width: 63px;height: 26px;border: none;float: left;}
#search .key_text{width: 206px;line-height:18px;color:#fff;position: absolute;top: 30px;right: 36px;}
#search .key_text a{color: #fff;}
#search .key_text a:hover{text-decoration: underline;}
#search .update{width: 405px;height: 30px;position: absolute;left: 226px;bottom: 0;background: url(../img/search_img.png) no-repeat -226px 8px;}
#search .update .wrap{width: 336px;height: 30px;overflow: hidden;position: relative;left: 60px;}
#search .update ul{width: 336px;position: absolute;top: 0;left: 0;}
#search .update ul li{height: 30px;line-height: 30px;}
#search .update ul li a{color: #000;}
#search .update ul li a strong{font-weight: normal;color: #d30703;padding-right: 5px;}
#search .update ul li a span{color: #999;}
#search .update .triangle_up{top: 8px;right: 0;}
#search .update .triangle_down_red{top: 17px;right: 0;}
.video_title{height: 42px;line-height: 42px;background: url(../img/video_bg.gif) no-repeat 105px 10px;font-family: Arial;font-size: 18px;color:#d90000;font-weight: normal;}
.video{margin-bottom: 13px;}
.video_list{padding-left: 75px;height: 78px;background: url(../img/video_bg.gif) no-repeat 3px -47px;}
.video_list li{text-indent: 14px;background: url(../img/dot.gif) no-repeat 5px center;line-height: 20px;}
.video_list li a{color: #4d4d4d;}
.video_list li:hover{text-decoration: underline;}

.main_title{height: 40px;position: relative;line-height: 40px;}
.main_title strong, .nav li strong{color:#cc0d13;font-family: Arial;font-size: 12px;}
.main_title span, .nav li span{color: #000;}
.main_title a{position: absolute;top:15px ;right: 0;}
.nav li .triangle_down_red, .nav li .triangle_down_gray{position: absolute;top: 14px;right:12px;}
.hot_list{padding-top:10px;height: 374px;position: relative;}
.hot_list li{width: 318px;height: 108px;margin-bottom: 6px;background:url(../img/hot_list_li_bg.gif) no-repeat; }
.hot_list li .img{float: left;width: 106px;height: 84px;padding-top:10px;vertical-align:middle;}
.hot_list .img a{display: block;width: 104px;height: 84px;border: 1px solid #e6e6e6;}
.hot_list .img a:hover{border: 1px solid #929292; }
.hot_list .text{float: right;width: 190px;}
.hot_list h3{line-height: 24px; padding-bottom:6px;font-size: 12px;padding-top:10px;}
.hot_list h3 a{font-weight: normal;color: #bb0d0d;}
.hot_list h3 a:hover{font-weight: normal;color: #bb0d0d;text-decoration:underline;}
.hot_list p{color:#6e6e6e;line-height:16px; }
.hot_list_more{position: absolute;bottom: 6px;right: 0}
.login { height:142px; overflow:hidden; margin-bottom:10px; }
.login h2 span{font-weight: 600;}
.login h2{line-height: 34px;border-bottom: 1px solid #dbdbdb;color: #000;font-size: 12px;text-indent: 12px;}
.login .form{width: 214px;padding: 15px 0 2px;border-bottom:1px solid #f2f2f2;margin: 0 auto;position: relative;}
.login li{height: 26px;vertical-align: middle;}
.login li span, .login li input, .login li strong { float:left; }
.login span { float:left; width:58px; color:#595959; word-spacing:7px; }
.login .text { float:left; width:87px; height:17px; margin-right:3px; overflow:hidden; border:1px solid #dbdbdb; background:#f7f7f7; }
.login strong { font-weight:normal; padding-left:3px; }
.login .btn { width:54px; height:22px; border:none; background:#cb0000; color:#fff; font-family:'宋体'; font-size:12px; font-weight:bold; border-radius:10px; }
.login p { line-height:32px; text-align:center; word-spacing:20px;}
.login p a { padding-left:14px; background:url(../img/dot.gif) no-repeat 4px center; color:#666; }
.login em{color:#cc0d13 }
.login p a:hover { text-decoration:underline; }
.login .main_title{line-height: 38px;}
.help{height: 208px;}
.help p{text-indent:2em;}
.help ul{height:44px; line-height:44px; border-bottom:1px solid #dbdbdb;}
.help ul li{width:154px; text-indent:30px; background:url(../img/help.gif) no-repeat; font-family:arial;}
.help .phone{font-size: 16px;font-weight: bold;color:#b80000; background-position:7px 11px;}
.help .msn{background-position: 7px -31px;}
.help dl{width: 144px;padding: 15px 0 0 10px;line-height: 18px;}
.help dt{font-weight: bold;padding-bottom: 8px;}
.help dd{background: url(../img/dot.gif) no-repeat 4px center;text-indent: 12px;}
.help dd a{color: #333;}
.help dd a:hover{text-decoration: underline;}
.media{height: 205px;padding-top: 3px;}
.media li{width: 318px;height: 50px;vertical-align: middle;}
.media a{float: left;width: 100px;}
.media p{float: right;width: 208px;color: #333;}

#footer{width:958px; height:64px; padding-top:14px; line-height:25px; margin:0 auto; background:#f9f9f9; color:#767676; text-align:center;}
#footer a{color: #454545;margin: 0 6px;}
#footer a:hover{text-decoration:underline;}
#footer span{margin-left: 10px;}
.tab{height: 25px;border-bottom:1px solid #dadada;}
.tab ul{height: 26px;margin-bottom: -1px;position: relative;}
.tab ul li{float: left;height: 24px;border: 1px solid #dadada;border-radius:4px 4px 0 0; margin-right: -1px;text-align: center;line-height: 24px;color: #666;position: relative;}
.tab .active{border-bottom: 1px solid #fff;background-color: #fff;font-weight: bold;color: #454545;cursor: pointer;}
.tab li a{position: absolute;top: 10px;right: 12px;}

.section .tab{padding: 0 10px;}
.section .tab li{width: 98px;}

.side_section .tab{padding: 0 6px;}
.side_section .tab li{width: 66px;}
.list_section{}
.list_section li{height: 27px;border-top: 1px dotted #dadada;line-height: 27px;background: url(../img/dot.gif) no-repeat 5px center;vertical-align: middle;}
.list_section a{color: #333;float:left;text-indent: 14px;}
.list_section li a:hover{text-decoration: underline;}
.list_section li a em{color: #c3c3c3;}
.list_section li a span{color: #c75d61;}
.list_section .col1,.list_section .col2, .list_section .col3{float: left;}
.list_section .col2, .list_section .col3{text-align: center;}

.list_section .title{background: none;color: #999;}
.list_section .title .col1{text-align: center;}

.side_section .col1{width: 137px;} 
.side_section .col2{width: 35px;}
.side_section .color{color:#d80000; }
.side_section .col3{width: 36px;}

.section .col1{width: 273px;}
.section .col2{width: 35px;}
.section .col2 img{position: relative;top: 7px;}
.list_section .title, .side_section .title{border-top: none;}
.wrap_section1{padding-bottom: 5px;}
.soso{border-top: 1px dotted #ccc;height: 47px;padding-top: 17px;padding-left: 10px;}
.soso strong, .soso .text, .soso .btn {float: left;}
.soso strong{color:#595959;padding-top: 3px;}
.soso .text{width:172px;height: 20px;border: 1px solid #9c9c9c;line-height: 20px;color: #9c9c9c;padding:  0 4px}
.soso .btn{width: 24px;height:25px; background: url(../img/btn.gif);border: none;margin-left: 10px;}
.pic_list{}
.pic_list li{overflow: hidden;}
.pic_list .img{width: 96px;height: 73px;position: relative;}
.pic_list .img a{display: block;width: 90px;height: 67px;padding: 2px;border: 1px solid #dadada;}
.pic_list .img a:hover{border: 1px solid #b80000;}
.pic_list .text{width: 108px;}
.pic_list .text h3{}
.pic_list .text h3 a{color: #b80000;font-size: 12px;font-weight: normal;}
.pic_list .text h3 a:hover{text-decoration: underline;}
.pic_list .text p{color: #999;}
.pic_list .text p a{color: #666}
.pic_list .text p a:hover{text-decoration: underline;color: #b80000;}
.wrap_section2 li{border-bottom: 1px dotted #dadada;padding-bottom: 10px;margin-bottom: 10px;}
.wrap_section2{padding-bottom: 2px;}
.wrap_section3{padding-bottom: 1px;}
.wrap_section3 .pic_list{padding-bottom: 10px;}
.wrap_section4 .pic_list{overflow: hidden;}
.wrap_section4 .pic_list li{float: left;width: 107px;height: 150px; }
.wrap_section4 .pic_list h3{line-height: 30px;}
.wrap_section4{padding-bottom: 8px;}

.panoramic{height: 138px;}
.panoramic a{color: #333;}
.panoramic a:hover{color: #b80000;text-decoration: underline;}
.panoramic img{display: block;}
.panoramic span{display: block;line-height: 26px;}
.new_title{height: 70px;position: relative;}
.new_title span, .new_title strong, .new_title em{position:absolute;} 
.new_title span, .new_title strong{left: 16px;}
.new_title span{font-size:12px; font-family:arial; color:#ea2b31;top: 19px;}
.new_title strong{font-size:24px; color:#333; top:31px; font-weight:normal;top: 31px;}
.new_title em{font-size:36px; font-weight:bold; color:#ec1c16;  left:125px; top:16px;}
.ac1{background: url(../img/new_title_bg1.gif) no-repeat right top;padding-bottom: 18px;}
.ac2{background: url(../img/new_title_bg2.gif) no-repeat right top;}
.activity .con{background:url(../img/activity_bg.gif) no-repeat;}
.activity .con .info{padding: 16px 10px 0;height: 104px;}
.activity .info .img{float: left;position: relative;}
.activity .mark{width: 84px;height: 84px;background: url(../img/activity_bg.gif) no-repeat -373px 0;position: absolute;left: 0;top: 0;}
.activity .text{float: right;width: 204px;}
.activity .text h3{font-size: 12px;height: 32px;}
.activity .text em, .activity .text span { float:left; margin-right:4px; }
.activity .text em{width: 25px;height: 25px;background:url(../img/activity_bg.gif) no-repeat -348px 0;font-family:arial; font-size:14px; color:#cf3530; text-align:center; line-height:25px;}
.activity .text span{text-indent: 2px;padding-top: 4px;}
.activity p{line-height:18px; color:#999; }
.calendar{width: 323px;position: relative;padding-left: 10px;}
.calendar h3{height: 34px;line-height: 34px;text-align: center;background:url(../img/adorn.gif)  repeat-x; word-spacing:10px;margin-right: 33px;}
.calendar h3 span{font-size:14px; font-family:arial; color:#666;}
.calendar ol li{width:40px; height:40px; line-height:40px; margin:0 2px 2px 0; background:#ededed; float:left; text-align:center; position:relative; font-weight:bold; color:#666; font-family:arial;}
.calendar ol .normal{background:#f8f8f8; color:#ccc;}
.calendar ol .active, .calendar ol .img{position:absolute; top:0; left:0; }
.calendar .active { width:36px; height:36px; border:2px solid #d30408; cursor:pointer; }
.calendar ol .img{cursor: pointer;width:40px; height:40px;}

.tody_info{width:294px; height:84px; padding:10px; border:1px solid #c0c0c0; background:#fff; position:absolute; top:130px; left:268px; box-shadow:4px 4px 0 rgba(0,0,0,0.2);display: none;}
.tody_info img { width:80px; height:80px; border:2px solid #dbdbdb; float:left; }
.tody_info .text { width:200px; float:right; }
.tody_info h4 { font-size:12px; color:#333; padding-bottom:8px; }
.tody_info strong { color:#ccc; font-size:18px; vertical-align:middle; }
.tody_info p { color:#999; line-height:20px; }
.tody_info span { width:8px; height:14px; overflow:hidden; position:absolute; top:45px; left:-8px; background:url(../img/adorn.gif) no-repeat 0 -48px; }


.recommend{}
.recommend .pic{width: 294px;height: 168px;background-color: #f8f8f8;position: relative;padding: 12px 12px 0;border-radius: 6px;}
.recommend .pic ul{width: 223px;height: 133px;position: absolute;top: 12px;left: 12px; }
.recommend .pic ul li{width: 223px;height: 133px;border: 1px solid #fff;position: absolute;}
.recommend .pic ul li a{width: 223px;height: 133px;}
.recommend .pic ul li a img{width: 223px;height: 133px;}
.recommend .pic ol{position: absolute;top: 12px;right: 12px;}
.recommend .pic ol li, .recommend .pic ol li a img{width: 54px;height: 30px;}
.recommend .pic ol li{margin-bottom: 13px;border: 3px solid #fff;}
.recommend .pic ol li a{}
.recommend .pic ol .active{border: 3px solid #d6191d;}
.recommend .pic p{position: absolute;left: 12px;bottom: 0;line-height: 32px;}
.recommend .list{padding: 18px 12px 10px;}
.recommend .list li{height: 27px;vertical-align: middle;}
.recommend .list li em{float:left;color:#dfdfdf; margin-right:7px;}
.recommend .list li em img{margin-right:5px;}
.recommend .list li a{color:#454545;float: left;}
.recommend .list li a:hover{text-decoration: underline;}
.recommend .list li span{ float:right;font-family:arial; font-size:12px; color:#999;}
.subway {height: 340px;}

.bbs ol{height: 328px;}
.bbs ol li{height: 30px;margin-bottom: 3px;background: #f8f8f8;border-radius: 6px;
	line-height: 30px;vertical-align: middle;position: relative;}
.bbs ol strong,.bbs ol a{float: left;}
.bbs ol strong{color: #d80000;width: 45px;text-indent: 10px;}
.bbs ol img{display: none;}
.bbs ol a{color: #333;} 
.bbs ol span{display: none;}
.bbs ol em{display: none;}
.bbs ol b{color: #666;float: right;padding-right: 22px;font-weight: normal;}
.bbs .active{height: 70px;border-radius: 6px;background-color: #d90000;}
.bbs .active img{display: block;position: absolute;top: 10px;left: 10px;}
.bbs .active a{color: #fff;font-weight: bold;position: absolute;top: 7px;left: 70px;}
.bbs .active span{display: block;color: #fff;position: absolute;left: 70px;top: 33px;}
.bbs .active em{display: block;color: #fff;position: absolute;bottom: -5px;right: 5px;
	font-weight: bold;font-size: 26px;}
.bbs .active b{display: none;}
.hot_area{height: 258px;}
.hot_area ul li, .hot_area ul li img{height: 77px;width: 77px;} 
.hot_area .area1, .hot_area .area1 img{height: 78px;width: 156px;} 
.hot_area ul li{margin:0 2px 2px 0;float: left;position: relative;}
.hot_area p{width: 144px;height: 66px;color: #fff;background: rgba(0,0,0,.5);
	position: absolute;top: 0;left: 0;line-height: 18px;padding:12px 0 0 12px;}
